{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{% block header %}
    <header>
        {{ block.super }}
    </header>
{% endblock %}
    {{ message1 }}
    <div class="user-edit">
        <form action="" method="post">
          {% csrf_token %}
            <ul>
        <li>
            <p>
                Imię:
                <input type="text" name="first_name" value="{{ user.first_name }}">
            </p>
        </li>
        <li>
            <p>
                Nazwisko:
                <input type="text" name="last_name" value="{{ user.last_name }}">
            </p>
        </li>
        <li>
             <p>
                Adres email:
                <input type="email" name="email" value="{{ user.email }}">
             </p>
        </li>
        <li>
            <p>
                Podaj hasło:
                <input type="password" name="password">
            </p>
        </li>
          <input type="submit" name="button1" value="Zatwierdź">
            </ul>
        </form>
    </div>
    <div class="password">
      {{ message2 }}
        <form action="" method="post">
            {% csrf_token %}
            <ul>
                <li>
                    <p>
                        Stare hasło:
                        <input type="password" name="old_pass">
                    </p>
                </li>
                <li>
                    <p>
                        Nowe hasło:
                        <input type="password" name="new_pass1">
                    </p>
                </li>
                <li>
                    <p>
                        Potwierdź nowe hasło:
                        <input type="password" name="new_pass2">
                    </p>
                </li>
                <input type="submit" name="button2" value="Zmień hasło">
            </ul>
        </form>
    </div>
{% endblock %}